@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

:root{
    --primary-color : #ffd900;
    --secondary-color : #ffd900b7;
    --bg-color : #f4f4f4;
    --text-color : #333;

    --heading-size : 2.5rem;
    --sub-heading-size : 2rem;
    --text-size : 1.2rem;

    --font-family : 'Roboto Condensed', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

p,a{
    font-size: var(--text-size);
    line-height: 1.2;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header a h2 {
    font-size: var(--sub-heading-size);
    color: var(--text-color);
}

header a h2 span {
    color:#fff;
}

header ul li {
    list-style: none;
    display: inline;
}

header ul li i {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 5px;
}

header nav ul li a {
    padding: 10px 20px;
    transition: 0.3s linear;
}

header nav ul li a:hover{
    color: var(--bg-color);
}

#menu-toggle {
    display: none;
}

.nav-active {
    top: 80px !important;
}

@media  screen and (max-width: 768px) {
    header nav {
        position: fixed;
        top: -1000px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: var(--primary-color);
        z-index: 10;
        transition: 0.3s linear;
    }

    header nav ul li {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    #menu-toggle {
        display: inline;
    }
}

main{
    margin-top: 80px;
}

.setting-box{
    position: fixed;
    top: -1000px;
    right: 10px;
    min-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: 15px;
    transition: 0.5s ease all;
}
 
.setting-box-active{
    top: 90px;
}

.setting-box img {
    width: 150px;
    height: 100px;
    padding: 10px;
}

/* Landing Start */

#landing{
    width: 100%;
    min-height: 90vh;
    position: relative;
}

#landing img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    object-position: center ;
}

#landing .hover-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.541);
}

